= form_with model: @track, html: {class: "form-container"} do |f|
  .field-container
    = f.label :url, class: "label-class"
    = f.url_field :url, class: "form-field"

  .field-container
    = f.label :name, class: "label-class"
    = f.text_field :name, class: "form-field"

  .field-container 
    = f.label :credits, class: "label-class"
    = f.text_area :credits, class: "form-field"

  %br/
  
  - @track.errors.full_messages.each do |error|
    .flash-notice
      = error  


  = f.submit :class => "form-button"
  
.footer-container
  .footer-text
    = link_to "Home", root_path
  .footer-text 
    = link_to "Albums", albums_path
  .footer-text
    = link_to "Artists", artists_path
  .footer-text
    = link_to "Tracks", tracks_path
