= form_with model: @track do |f|
  = f.label :url
  = f.url_field :url
  
  %br/
  = f.label :name
  = f.text_field :name

  %br/

  = f.label :credits
  = f.text_area :credits

  %br/

  = f.submit
  
.footer-container
  .footer-text
    = link_to "Home", root_path
  .footer-text 
    = link_to "Albums", albums_path
  .footer-text
    = link_to "Artists", artists_path
  .footer-text
    = link_to "Tracks", tracks_path

  