.div.main-header Music App

.div.page-title Tracks

.container
  %ul.responsive-table
    %li.table-header
      .col.col-1 url
      .col.col-1 Name
      .col.col-1 Credits
      .col.col-1 Available
      .col.col-1 Actions
    %tbody
      - @tracks.each do |track|
        %li.table-row
          .col.col-1{"data-label" => "URL"}
            = track.url.truncate(150)
          .col.col-1{"data-label" => "Name"}
            = track.name
          .col.col-1{"data-label" => "Credits"}
            = track.credits.truncate(150)
          .col.col-1{"data-label" => "Available"}
            = track.available
          .col.col-1{"data-label" => "Actions"}
            = link_to "Edit", edit_track_path(track.id)
            = link_to "Delete", track_path(track.id), method: :delete, data: {confirm: "Are you sure?"}

%br/
.p.sub-button= link_to "Add Tracks", new_track_path        

%br/
= link_to "Go to Artists", artists_path

%br/
= link_to "Go to Albums", albums_path

%br/
= link_to "Back to Home", root_path
