.div.main-header Music App

.div.page-title Artists

.container
  %ul.responsive-table
    %li.table-header
      .col.col-2 Name
      .col.col-2 Permalink
      .col.col-2 Bio
      .col.col-2 Formed at
      .col.col-2 Verified at
      .col.col-2 Actions     
    %tbody
      - @artists.each do |artist|
        %li.table-row
          .col.col-2{"data-label" => "Name"}
            = artist.name
          .col.col-2{"data-label" => "Permalink"}
            = artist.permalink
          .col.col-2{"data-label" => "Bio"}
            = artist.bio.truncate(150)
          .col.col-2{"data-label" => "Formed at"}
            = artist.formed_at.year
          .col.col-2{"data-label" => "Verified at"}
            = artist.verified_at.year
          .col.col-2{"data-label" => "Actions"}  
            = link_to "Edit", edit_artist_path(artist.id)
            = link_to "Delete", artist_path(artist.id), method: :delete, data: {confirm: "Are you sure?"}

%br/

.p.sub-button=link_to "Add Artist", new_artist_path  

.footer-container
  .footer-text
    = link_to "Home", root_path
  .footer-text 
    = link_to "Albums", albums_path
  .footer-text
    = link_to "Artists", artists_path
  .footer-text
    = link_to "Tracks", tracks_path

