= form_with model: @album, html: {class: "form-container"} do |f|
  .field-container
    = f.label :name, class: "label-class"
    = f.text_field :name, class: "form-field"

  .field-container
    = f.label :released_at, class: "label-class"
    = f.date_field :released_at, class: "form-field"

  .field-container 
    = f.label :image, class: "label-class"
    = f.file_field :image, class: "form-field"


  .field-container
    = f.label :length, class: "label-class"
    = f.number_field :length, class: "form-field"

  .radio-button-container
    = f.label :kind, class: "label-class"

    .radio-button
      = f.radio_button :kind, 'Single'
      = label :kind_single, 'Single', class: "radio-button"

    .radio-button
      = f.radio_button :kind, 'EP'
      = label :kind_EP, 'EP', class: "radio-button"

    .radio-button
      = f.radio_button :kind, 'LP'
      = label :kind_EP, 'LP', class: "radio-button"

  %br/  

  .sub-button
    = f.submit
  
  %br/
  = link_to "Back to Albums", albums_path